body {
    background-color: antiquewhite;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    text-indent: 1em;
    font-family:'Times New Roman', Times, serif;
}

h1 {
    font-size: 200%;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    box-shadow: 5px 10px 20px;
}

a:hover {
    color: red;
}
